*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}
#main{
    display:flex; 
    justify-content:center;
    align-items:center;
    height:100%;
    width:100%;
}
.rect{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.box{
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top:5px;
    margin-left:5px;
    height:150px;
    width: 150px;
    border:2px solid;
    border-color: black;
    
}

